In [12]:
import os
import pandas as pd

In [28]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data') 
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)

In [22]:
csvfiles = [x for x in os.listdir(DATA_DIR) if x.endswith('.csv')] 
my_dataframe = []
for filename in csvfiles:
    year = filename.replace('.csv', '')
    df = pd.read_csv(os.path.join(DATA_DIR, filename))
    df['Filename'] = filename
    df['Year'] = year 
    my_dataframe.append(df)

In [30]:
 
my_entire_dataframe = pd.concat(my_dataframe)
my_entire_dataframe.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Filename,Year
0,1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010.csv,2010
1,2,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010.csv,2010
2,3,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010.csv,2010
3,4,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010.csv,2010
4,5,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010.csv,2010

In [27]:
my_entire_dataframe.tail()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Filename,Year
292,293,Fear Pharm,"$1,157","$1,157",100%,-,-,2020.csv,2020
293,294,The Father,"$1,141",-,-,"$1,141",100%,2020.csv,2020
294,295,Hai Tang Hong,"$1,107","$1,107",100%,-,-,2020.csv,2020
295,296,Greater 2020 Re-release,$527,$527,100%,-,-,2020.csv,2020
296,297,Spaceship Earth,$362,-,-,$362,100%,2020.csv,2020

In [29]:
output = os.path.join(CACHE_DIR, 'movies-box-office-dataset.csv')
my_entire_dataframe.to_csv(output, index=False)